<div class="signup">
  <form name="signup" action="/signup" method="post">
    <table>
      <tr><td><label>Username</label></td></tr>
      <tr><td><input type="text" name="user[username]", placeholder="username..."></td></tr>
      <tr><td><br></td></tr>
      <tr><td><label>Email</label></td></tr>
      <tr><td><input type="email" name="user[email]", placeholder="email address..."></td></tr>
      <tr><td><br></td></tr>
      <tr><td><label>Password</label></td></tr>
      <tr><td><input type="password" name="user[password]", placeholder="password..."></td></tr>
      <tr><td><br></td></tr>
      <tr><td><input type="submit" value="Join the Fun"></td></tr>
    </table>
  </form>
</div>