<div class="signup">
  <form name="signup" action="/signin" method="post">
    <table>
      <tr><td><label>Email</label></td></tr>
      <tr><td><input type="text" name="email", placeholder="email address..."></td></tr>
      <tr><td><br></td></tr>
      <tr><td><label>Password</label></td></tr>
      <tr><td><input type="password" name="password", placeholder="password..."></td></tr>
      <tr><td><br></td></tr>
      <tr><td><input type="submit" value="Join the Fun"></td></tr>
    </table>
  </form>
  <br>
  <a href="/signup">New to DEVCHAT?</a>
</div>